<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="omni_drive_controller">
    <gazebo>
      <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
        <ros>
          <argument>odom:=odom/unfiltered</argument>
        </ros>
        <command_topic>cmd_vel</command_topic>
        <odometry_topic>odom/unfiltered</odometry_topic>
        <odometry_frame>odom</odometry_frame>
        <odometry_rate>20.0</odometry_rate>
        <robot_base_frame>base_footprint</robot_base_frame>
        <publish_odom>true</publish_odom>
        <publish_odom_tf>false</publish_odom_tf>
      </plugin>

      <plugin name="robot_joint_state" filename="libgazebo_ros_joint_state_publisher.so">
        <ros>
          <remapping>joint_states:=joint_states</remapping>
        </ros>
        <update_rate>10</update_rate>
        <joint_name>front_left_wheel_joint</joint_name>
        <joint_name>front_right_wheel_joint</joint_name>
        <joint_name>rear_left_wheel_joint</joint_name>
        <joint_name>rear_right_wheel_joint</joint_name>
      </plugin> 
  </gazebo>
  </xacro:macro>
</robot>